// 1. Import the initial variables
@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";
@import url('https://fonts.googleapis.com/css?family=Montserrat');

// 2. Set your own initial variables
$green: #295F4E;
$family-primary: 'Montserrat', sans-serif;

// 3. Set the derived variables
$primary: $green;
$link: $primary;
$link-focus-border: $primary;

// 4. Setup your Custom Colors
// for example call a color "silksage-blue" and then assign it a value
// $silksage-blue: #0077b5;
// $silksage-blue-invert: #fff;

// 5. Add new color variables to the color map.
//@import "../sass/utilities/derived-variables.sass";
//$addColors: (
//  "silksage-blue":($silksage-blue, $silksage-blue-invert),
//);
//$colors: map-merge($colors, $addColors);

@import "~bulma";
